$blue: #90def8;
$green: #076704;
$main: #28cef7;
$orange: #f77d5b;
$red: #eb4012;
$yellow: #ff9b0c;
$black: #333;
$bc: #e4e4e4;
$fc: #fff;
$bg: #333743;
$active-bg: #14161b;
$line-color: #0bacf7;
$tag-color: #169bd5;
$list-bg: #ebeef2;
$border-c: #e5e5e5;
$title-bg: #f2f2f2;
$primary: #0091ea;
$btn-c: #169bd5;

$button: #169bd5;
$radius: 6px;
$btnWid: 100px;
$vw_base: 1080;

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-box {
  width: 100%;
  height: 100%;
}

.title-box {
  padding: 10px;
  border: 1px #ddd solid;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
}

.searchBar-box {
  padding: 0 10px;
  border: 1px #ddd solid;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
}

.flex-direction-box {
  // display: flex;
  // flex-direction: column;
  padding: 0 10px;
  border: 1px #ddd solid;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
  // overflow: auto;
  height: 77%;
}

.toolbar {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0);
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-button {
  position: absolute;
}

.chart-box,
.rank-box {
  padding: 10px;
  border: 1px #ddd solid;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
}

.wid-height-100 {
  width: 100%;
  height: 100%;
}

.rank-ul {
  padding: 0;
  margin: 0;
  align-items: center;
}
.rank-li {
  height: 15%;
  width: 90%;
  list-style: none;
  border: 1px #ddd solid;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  justify-content: space-between;
  padding: 1% 2%;
  margin: 2% 0;
}

.rank-li-span {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 三列 */
  grid-auto-rows: 200px; /* 每行高度200px */
  gap: 10px; /* 图片之间的间距 */
  max-height: 600px; /* 最大高度（可根据需要调整） */
  overflow-y: auto; /* 超出的内容出现垂直滚动条 */
  overflow-x: hidden; /* 隐藏横向溢出 */
}

.image-item {
  overflow: hidden; /* 避免图片溢出 */
}

.image-item img {
  width: 100%; /* 图片宽度填满容器 */
  height: 100%; /* 图片高度填满容器 */
  object-fit: cover; /* 保持图片比例，裁剪溢出部分 */
  cursor: pointer; /* 鼠标悬停变为手型 */
}
